/* Common CSS */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    font-size: 62.5%;
    overflow-x: hidden;
}
img {
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
body {
    font-family: 'Fredoka One', cursive;
}
p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    max-width: 120rem;
    margin: 0 auto;
}
.container__mini {
    max-width: 100rem;
    margin: 0 auto;
}
:root {
    --backgroundPrimary: #ed078b;
    --white: #fff;
    --lightBackground: #fff2f9;
    --darkBlue: #424187;
    --lightBlue: #1a93c2;
    --lightGreen: #1cd8da;
    --yellow: #f3d110;
    --textColor: #65667a;
}
.btn__primary {
    padding: 1.5rem 4rem;
    background: var(--lightGreen);
    color: #fff;
    border: 0.1rem solid var(--lightGreen);
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 3rem;
    text-transform: capitalize;
}
.btn__secondary {
    padding: 0.8rem 2rem;
    background: var(--lightBlue);
    border: 0.1rem solid var(--lightBlue);
    color: var(--white);
    display: inline-block;
    border-radius: 1.2rem;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.btn__secondary:hover {
    background: var(--backgroundPrimary);
    color: var(--white);
    border: 0.1rem solid var(--backgroundPrimary);
}
.btn__primary:hover{
    background: var(--backgroundPrimary);
    border: 0.1rem solid var(--backgroundPrimary);
    color: #fff;
    transition: all 0.4s ease-in-out;
}
.course__intro h2, .teacher__area h2, .welcome__heading,.testimonial__text, .gallery__intro h2 {
    position: relative;
}
.course__intro h2::after, .teacher__area h2::after, .welcome__heading::after,.testimonial__text::after, .gallery__intro h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 15%;
    height: 0.3rem;
    background: var(--lightBlue);
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
.welcome__heading::after,.teacher__area h2::after  {
    top: 6rem;
}
.teacher__area h2::after {
    top: 5rem;
}
/******************
 Top Navbar Area CSS 
*******************/
.topbar__area {
    background: var(--backgroundPrimary);
    padding: 1rem 0;
}
.topbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar__content ul{
    display: flex;
    list-style: none;
}
.topbar__content ul li{
    list-style: none;
}
.topbar__content ul li:last-child{
    margin-left: 1.8rem;
}
.topbar__content ul li span i{
    font-size: 1.4rem;
    color: var(--white);
}
.topbar__content ul li a{
    font-size: 1.4rem;
    color: var(--white);
    margin-left: 0.5rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.topbar__links ul{
    display: flex;
}
.topbar__links ul li{
    margin-right: 1.5rem;
    list-style: none;
}
.topbar__links ul li:last-child{
    margin: 0;
}
.topbar__links ul li a{
    font-size: 1.4rem;
    color: var(--backgroundPrimary);
}
.topbar__links ul li a:hover{
    color: var(--lightBlue);
    transition: all 0.4s ease-in-out;
}
.topbar__links ul li a i{
    display: block;
    padding: 0.8rem;
    background: var(--white);
    border: 0.1rem solid var(--white);
    border-radius: 50%;
}
.topbar__links ul li a i:hover{
    background-color: var(--lightBlue);
    border: 0.1rem solid var(--lightBlue);
    color: var(--white);
    transition: all 0.4s ease-in-out;
}

/********************
 Main Nav Bar Area CSS
 *******************/
 .website__logo a span{
    margin-right: -0.3rem;
    display: inline-block;
    font-size: 3.6rem;
 }
 .website__logo a span:first-child{
    color: var(--lightBlue);
 }
 .website__logo a span:nth-child(2){
    color: var(--backgroundPrimary);
 }
 .website__logo a span:nth-child(3){
    color: var(--yellow);
 }
 .website__logo a span:last-child{
    color: #1cd8da;
 }
 nav a{
    font-size: 1.8rem;
    color: var(--darkBlue);
    margin: 0 2rem;
    position: relative;
}
 nav a::after{
    content: '';
    position: absolute;
    background: var(--backgroundPrimary);
    height: 0.3rem;
    width: 0;
    left: 0;
    top: 2rem;
}
 nav a:hover, nav a.active{
    color: var(--backgroundPrimary);
}
 nav a:hover::after{
    width: 100%;
    transition: all 0.3s ease-in-out;
}

/* Banner Area CSS */
.banner__container {
    /* background-image : linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/banner.jpeg); */
    width: 100%;
    /* height: 100vh; */
}
.banner__container img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    opacity: 0.8;
    background: linear-gradient(100deg, rgba(63, 63, 63, 0.8) 0%, rgba(255, 255, 255, 0) 25%);
}
.slick-dots li {
    display: none;
}
/* Welcome Area CSS  */
.welcome__heading {
    font-size: 4rem;
    color: var(--darkBlue);
    text-transform: capitalize;
    padding: 2rem 0;
}
.welcome__text {
    color: var(--textColor);
    font-size: 1.4rem;
}
.welcome__container h2{
    color: #424187;
    font-size: 2rem;
    margin: 1rem 0;
    text-transform: capitalize;
}
.welcome__container p{
    color: var(--textColor);
    font-size: 1.4rem;
}
.welcome__container img{
    border-radius: 0.5rem;
    position: relative;
}
.welcome__container a{
    margin: 1.5rem 0;
}

/* Course Area CSS */
.background {
    background: var(--lightBackground);
}
.course__intro {
    /* width: 80rem; */
    display: block;
    margin: 0 auto;
    margin-bottom:  7rem;
}
.course__intro h2{
    text-align: center;
    font-size: 4rem;
    color: var(--darkBlue);
    text-transform: capitalize;
}
.course__intro p{
    width: 66.66%;
    text-align: center;
    margin: 0 auto;
    color: var(--textColor);
    font-size: 1.4rem;
    padding-top: 0.8rem;
}
.course__area h2 {
    color: #424187;
    font-size: 1.8rem;
    margin: 1rem 0;
}
.course__area p{
    color: var(--textColor);
    font-size: 1.4rem;
}


/* Teacher Area CSS */
.teacher__area h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--darkBlue);
    text-transform: capitalize;
    padding-top: 1.5rem;
    letter-spacing: -0.05rem;
}
.teacher__area p {
    color: var(--textColor);
    font-size: 1.4rem;
    padding: 2rem 0;
}
.techer__details h2 {
    font-size: 1.6rem;
    color: var(--darkBlue);
    padding-top: 0.5rem;
    text-transform: capitalize;
}
.techer__details h3 {
    font-size: 1.4rem;
    color: var(--lightBlue);
    padding-top: 0.5rem;
    text-transform: capitalize;
}
.techer__details p {
    color: var(--textColor);
    font-size: 1.3rem;
}

/* Testimonial Area CSS */
.testimonial__section {
    padding: 1rem 0 2.5rem;
}
.testimonial__text {
    color: var(--darkBlue);
    font-size: 4rem;
}
.testimonial__container p {
    font-size: 1.4rem;
    color: var(--textColor);
}
.testimonial__container img {
    width: 6rem;     
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial__item_text span {
    color: var(--darkBlue);
    font-size: 1.5rem;
    padding: 0.2rem 0;
    text-transform: uppercase;
}
.testimonial__item_text span:last-child {
    color: var(--lightBlue);
    font-size: 1.2rem;
    text-transform: capitalize;
}
.p-8 {
    padding: 3.5rem;
    border-radius: 4rem;
    box-shadow: 0.2rem 0 0.8rem 0 var(--textColor);
}
.slick-prev:before, .slick-next:before {
    color: var(--darkBlue);
}
/* Gallery Area CSS */
.gallery__intro {
    width: 80rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}
.gallery__intro h2{
    font-size: 4rem;
    color: var(--darkBlue);
    text-align: center;
    text-transform: capitalize;
}
.gallery__intro p{
    width: 66.66%;
    margin: 0 auto;
    color: var(--textColor);
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 0;
}

/* Footer Area CSS */
.footer__background {
    background: var(--lightBackground);
    padding: 8rem 0;
}
.footer__logo__container a{
    font-size: 2.5rem;
}
.footer__logo__container a span:first-child{
    color: var(--lightBlue);
}
.footer__logo__container a span:nth-child(2){
    color: var(--backgroundPrimary);
}
.footer__logo__container a span:nth-child(3){
    color: var(--yellow);
}
.footer__logo__container a span:last-child{
    color: var(--lightGreen);
}
.footer__logo__container input[type='text']{
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--darkBlue);
    margin: 1rem  0;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
}
.footer__logo__container input[type='submit']{
    display: block;
    width: 60%;
    padding: 0.4rem 1rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--white);
    background: var(--backgroundPrimary);
    text-transform: capitalize;
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.footer__inner__container h2 {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    color: var(--darkBlue);
    position: relative;
    text-transform: capitalize;
}
.footer__inner__container h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 25%;
    background: var(--lightBlue);
    height: 0.3rem;
    top: 1.8rem;
}
.footer__inner__container ul {
    margin-top: 2rem;
}
.footer__inner__container ul li {
    margin-top: 0.5rem;
}
.footer__inner__container ul li a{
    font-size: 1.6rem;
    color: var(--textColor);
    text-transform: capitalize;
}
.footer__inner__container ul li a:hover {
    margin-left: 0.5rem;
    color: var(--backgroundPrimary);
    transition: all 0.3 ease-in-out;
}
.footer__map {
    border: 0.3rem solid var(--textColor);
}
.footer__map iframe {
    width: 100%;
    height: 30rem;
}
.footer__social__container {
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-top: 5rem;
    background: var(--darkBlue);
    padding: 2rem 2rem;
    border-radius: 10rem;
    box-shadow: 0.1rem 0.1rem 2rem 0.1rem var(--textColor);
    position: relative;
}
.footer__social__container::before {
    content: '';
    position: relative;
    width: 100%;
    background: var(--darkBlue);
    height: 0.5rem;
    display: block;
    left: -40rem;
    top: 2rem;
}
.footer__social__container::after {
    content: '';
    position: relative;
    width: 100%;
    background: var(--darkBlue);
    height: 0.5rem;
    display: block;
    left: 40rem;
    bottom: 2rem;
}
.footer__social__container ul{
    display: flex;
    justify-content: center;
}
.footer__social__container ul li{
    text-align: center;
    margin:  0.8rem;
}
.footer__social__container ul li a{
    background: var(--backgroundPrimary);
    color: var(--white);
    padding: 1.8rem 2rem;
    font-size: 1.5rem;
    border-radius: 50%;
}
.footer__social__container ul li a:hover{
    color: var(--backgroundPrimary);
    background: var(--white);
}
.footer__copyright p {
    margin-top: 5rem;
    font-size: 1.6rem;
    color: var(--lightBlue);
    text-align: center;
}